@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
}

h1{
    color: #fff;
    font-weight: 700px;
    font-size: 55px;
}


#book {
    display: flex;
    width: 100vw;
}

#book-form > h2 {
    position: relative;
    top: 70px;
}

#book-form > h3 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
}

#book-table-image {
    /* background-image: url('../assets/blog-3.jpg'); */
    background-color: var(--muted-color);
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}   

#book-form {
    align-items: start;
    padding: 20px 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#book-form  > input, #book-form  > select{
    width: 470px;
    height: 55px;
    padding: 4px 16px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    border-style: groove;
    font-size: 15px;
    color: var(--text-color);
    background-color: var(--background-color);
}

#book-form  > input::placeholder {
    color: var(--text-color);
}
 
#book-form > input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--text-color);
}

.button-decoration{
    background: #c8a97e;
    border: 1px solid #c8a97e;
    color: #fff;
    padding: 1rem 3rem !important;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

button:hover{
    cursor: pointer;
}

#book-table-page-banner {
    background-image: url(../assets/bg_3.jpg);
    background-position: 50% 0px;
    height: 450px;
    transition: background-position 0.1s ease-out;
}

#book-table-page-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, .5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 50px;

    > * + * {
        margin-top: 1rem; 
    }

    h1 {
        font-weight: 900;
        color: #fff;
        font-size: 50px;
    }
}

#breadcrumbs {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    gap: 12px;
    
    a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
    }
}

@media (max-width: 600px){
    #book-table-page-overlay > h1{
        font-size: 45px;
    }
    #book-form{
        width: 600px;
        padding-bottom: 5px;
        padding-left: 5%;
    }
    #book-table-image > img{
        display: none;
    }
    .button-decoration{
        margin-left: 35%;
        border-radius: 5px;
    }
}

