@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
}

:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --muted-color: #f9fafb;
    --border-color: #e5e7eb;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme {
    --background-color: #09090b;
    --text-color: #ffffff;
    --muted-color: #18181b;
    --border-color: #27272a;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}


a {
    text-decoration: none;
}

.banner {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/bg_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#next-image-button, #previous-image-button {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 24px;
    background-color: transparent;
    outline: transparent;
    border: none;
}

#next-image-button {
    left: 97%;
}

#previous-image-button {
    right: 97%;
}

#next-image-button:hover, #previous-image-button:hover {
    cursor: pointer;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, .5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.overlay-text-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.overlay-text-container span {
    font-weight: 800;
    font-size: 55px;
    text-transform: uppercase;
    color: white;
}

.cursive {
    font-size: 80px;
    color: #c8a97e;
    font-weight: normal;
    font-family: "Great Vibes", cursive;
    margin-bottom: 0;
    line-height: 1;
}

.featured {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    place-self: end;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 96px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 3rem;
    padding-bottom: 3rem;
    list-style: none;
}

.featured-item {
    > * + * {
        margin-top: 0.5rem; 
    }
    color: white;
}

.featured-item img {
    height: 81px;
    width: 81px;
    border-radius: 99999px;
}

.featured-mobile {
    display: none;
}

@media(max-width: 1200px) {

    .featured {
        padding: 3rem 12px;
    }
}

@media(max-width: 768px) {

    .featured {
        display: none;
    }

    .featured-mobile {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        list-style: none;
        text-align: center;
        padding: 100px 0;
    }

    .featured-item-mobile {
        > * + * {
            margin-top: 0.5rem; 
        }
        color: var(--text-color);
    }
    
    .featured-item-mobile img {
        height: 81px;
        width: 81px;
        border-radius: 99999px;
    }

    #next-image-button, #previous-image-button {
        display: none;
    }

    .overlay-text-container span {
        font-size: 40px;
    }

}
